@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@import url(https://allfont.ru/allfont.css?fonts=p22-cezanne-regular);

body{
    margin: 0;
    font-family: 'Poiret One', cursive;
}

  body *{
    box-sizing: border-box; 
}

.logo {
    text-align: center;
    justify-content: center; 
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.logo1 {
    width: 250px;  
    margin-top: 40px;
}

.slogan1 {
    font-size: 24px;
    margin-top: 0;
    font-weight: bolder;
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #000000, #000000, #000000);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 24px;
font-weight: bolder;
text-decoration: none;
text-align: center;   
margin-bottom: 25px;
animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
80%{
letter-spacing: 8px;
}
100% {
background-size: 300% 300%;
}
}

@keyframes glow {
40% {
text-shadow: 0 0 1.5px #000000;
}
}

.slogan2 {
    display: none;
    font-size: 22px;
    line-height: 1.7em;
    margin-top: 0;
    font-weight: bolder;
    background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #000000, #000000, #000000);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-size: 24px;
font-weight: bolder;
text-decoration: none;
text-align: center;   
margin-bottom: 25px;
animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
80%{
letter-spacing: 8px;
}
100% {
background-size: 300% 300%;
}
}

@keyframes glow {
40% {
text-shadow: 0 0 1.5px #000000;
}
}

.interior {
    max-width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.interior-area {
    list-style:none;
    width: 600px;
    padding:0;
    z-index:-2; 
    background:#ffffff;  
    overflow: hidden;
    flex-direction: row;
}

.interior-area,
.interior-area:after{
        width: 600px;
        height:400px;
        top:0px;
        left: 0;
    }
  
.interior-area_li {
    width: 600px;
    height:400px;
    position:absolute;
    background-size:cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity:0;
    -webkit-animation: anim_slides 18s linear infinite ;
    -moz-animation: anim_slides 18s linear infinite ;
    -o-animation: anim_slides 18s linear infinite ;
    -ms-animation: anim_slides 18s linear infinite ;
}

.interior-area_li {
    background-image: url('./big3.jpeg');
}

.interior-area_li:nth-child(2){
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    background-image: url('./big1.jpeg');
}

.interior-area_li:nth-child(3){
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
    background-image: url('./big4.jpeg');
}

.interior-area_2 {
    list-style:none;
    width: 600px;
    top: 0;
    padding:0;
    z-index:-2; 
    background:#ffffff;  
    overflow: hidden;
    flex-direction: row;   
}
    
.interior-area_2,
.interior-area_2:after{
    width: 600px;
    height:400px;
    top:0px;
}
      
.interior-area_li_2 {
    width: 600px;
    height:400px;
    position:absolute;
    background-size:cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity:0;
    -webkit-animation: anim_slides 18s linear infinite ;
    -moz-animation: anim_slides 18s linear infinite ;
    -o-animation: anim_slides 18s linear infinite ;
    -ms-animation: anim_slides 18s linear infinite ; 
}
    
.interior-area_li_2 {
    background-image: url('./big5.jpeg');
}
    
.interior-area_li_2:nth-child(2){
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    background-image: url('./big6.jpeg');
}
    
.interior-area_li_2:nth-child(3){
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
    background-image: url('./big2.jpeg');
}

@-webkit-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}

@-moz-keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}  

.body {
    color: #000000;    
    overflow: hidden;
    background: #ffffff;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column; 
}

.lumin {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.lumin a{
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #000000, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;   
    margin-bottom: 25px;
    animation: reveal 3000ms ease-in-out forwards 200ms,
                glow 2500ms linear infinite 2000ms;
}

@keyframes reveal {
    80%{
      letter-spacing: 8px;
}
    100% {
      background-size: 300% 300%;
    }
}

@keyframes glow {
    40% {
      text-shadow: 0 0 1.5px #000000;
    }
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.parallax {
    position: relative;
    height: 100%;
}
.parallax__picture {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.parallax__picture_1 {
    background: url('./02-24-03.png') 267px 14px / 30% 47% no-repeat;
}

.parallax__picture_2 {
    background: url('./01-24-03.png') 683px 14px / 30% 47% no-repeat;
}

.parallax__picture_3 {
    background: url('./04-24-03.png') 267px 316px / 30% 47% no-repeat;
}

.parallax__picture_4 {
    background: url('./03-24-03.png') 683px 316px / 30% 47% no-repeat;
}

.content {
    position: relative;
}

.content__body {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(255, 250, 250, 0.9);
    padding: 15px;
}
.content__title {
    text-transform: uppercase;
}
.content__article {
    
    font-size: 20px;
    font-weight: bolder;
}

.content__article p {
    margin-bottom: 15px;
}

.contacts {
    
}

.mail {
    margin-top: 40px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    line-height: 33px;
}

.mail p {
    margin-top: 0;
}

.logo2 {
    width: 190px;
    height: 160px;
}

.signature {
    margin-top: 40px;
    text-align: center;
}

.sign1 {
    width: 600px;
    margin-left: 170px;
}

.sign2 {
    display: none;
    width: 300px;
    margin: 0 auto;
}


  





